:host {
  display: block;
  padding: 20px;
  font-family: sans-serif;
}

.title {
  text-align: center;
  text-transform: capitalize;
  color: cadetblue;
  font-size: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;

  &-field:not(:last-child) {
    margin-bottom: 12px;
  }

  &-input {
    width: 100%;
    padding: 6px 12px;
    box-sizing: border-box;
    margin-bottom: 6px;
  }

  &-error {
    display: flex;
    color: var(--color-red);
    font-size: 12px;
    font-style: italic;
    padding-left: 12px;
  }

  &-notify {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    justify-content: flex-end;
    cursor: pointer;
    user-select: none;
  }

  &-button {
    padding: 12px 24px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: tomato;
    color: white;
    font-weight: 700;

    &:disabled {
      background-color: thistle;
      cursor: not-allowed;
    }
  }
}
