.form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;

  &-input {
    padding: 6px 12px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &-notify {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    justify-content: flex-end;
    cursor: pointer;
    user-select: none;
  }

  &-button {
    padding: 12px 24px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: tomato;
    color: white;
    font-weight: 700;
  }
}
